<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/General.css">
    <link rel="stylesheet" href="../css/Header.css">
</head>
<body>
    <!-- My -->

    <header>
        <div class="header-top">
            <div class="container">
                <div class="row_center">
                    <!-- <h1 class="fsz-30 main-text">
                        Чёрная пятница!
                    </h1> -->
                </div>
            </div>
        </div>
        <div class="header-middle">
            <div class="container">
                <div class="row">
                    <div class="col" id="col-1">
                        <div class="row">
                            <div class="main-logo"></div>
                            <button class="no-style town-select border-bottom">
                                Баку
                            </button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row row-button-margin">
                            <button class="btn btn-red elipse">
                                Акции
                            </button>
                            <button class="btn btn-white border-right">
                                Магазины
                            </button>
                            <button class="btn btn-white border-right">
                                Найти заказ
                            </button>
                            <button class="btn btn-white border-right">
                                Ещё
                            </button>
                            <button class="btn btn-white border-right">
                                <i class="phone"></i>
                                Связаться
                            </button>
                            <div class="column">
                                <button class="btn btn-gray_muted btn-little">РУС</button>
                                <button class="btn btn-gray btn-little">УКР</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="heder-bottom">
            <div class="container">
                <div class="row_strach">
                    <div class="catalog">
                        <div class="catalog-header" tabindex="0" aria-label="Каталог товаров">
                            <div class="row">
                                <div class="title">
                                    <i class="bi bi-archive"></i>
                                    Каталог товаров
                                </div>
                                <div class="dropdown-toggle galka">
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="hidden-catalog">
                            <div class="catalog-item row">
                                <div class="row">
                                    <div class="icon">
                                        <i class="bi bi-phone"></i>
                                    </div>
                                    <button class="no-style catalog-item__name">
                                        Смартфоны и телефоны
                                    </button>
                                </div>
                                <div>></div>
                            </div>
                            <div class="catalog-item row">
                                <div class="row">
                                    <div class="icon">
                                        <i class="bi bi-laptop"></i>
                                    </div>
                                    <button class="no-style catalog-item__name">
                                        Компьютерная техника
                                    </button>
                                </div>
                                <div>></div>
                            </div>
                            <div class="catalog-item row">
                                <div class="row">
                                    <div class="icon">
                                        <i class="bi bi-apple"></i>
                                    </div>
                                    <button class="no-style catalog-item__name">
                                        Техника для кухни
                                    </button>
                                </div>
                                <div>></div>
                            </div>
                            <div class="catalog-item row">
                                <div class="row">
                                    <div class="icon">
                                        <i class="bi bi-house-fill"></i>
                                    </div>
                                    <button class="no-style catalog-item__name">
                                        Техника для дома
                                    </button>
                                </div>
                                <div>></div>
                            </div>
                            <div class="catalog-item row">
                                <div class="row">
                                    <div class="icon">
                                        <i class="bi bi-tv"></i>
                                    </div>
                                    <button class="no-style catalog-item__name">
                                        Телевизоры
                                    </button>
                                </div>
                                <div>></div>
                            </div>
                            <div class="catalog-item row">
                                <div class="row">
                                    <div class="icon">
                                        <i class="bi bi-phone"></i>
                                    </div>
                                    <button class="no-style catalog-item__name">
                                        Смартчасы
                                    </button>
                                </div>
                                <div>></div>
                            </div>
                            <div class="catalog-item row">
                                <div class="row">
                                    <div class="icon">
                                        <i class="bi bi-controller"></i>
                                    </div>
                                    <button class="no-style catalog-item__name">
                                        Гейминг
                                    </button>
                                </div>
                                <div>></div>
                            </div>
                            <div class="catalog-item row">
                                <div class="row">
                                    <div class="icon">
                                        <i class="bi bi-camera-fill"></i>
                                    </div>
                                    <button class="no-style catalog-item__name">
                                        Фото и видео
                                    </button>
                                </div>
                                <div>></div>
                            </div>
                            <div class="catalog-item row">
                                <div class="row">
                                    <div class="icon">
                                        <i class="bi bi-flower1"></i>
                                    </div>
                                    <button class="no-style catalog-item__name">
                                        Красота и здоровье
                                    </button>
                                </div>
                                <div>></div>
                            </div>
                            <div class="catalog-item row">
                                <div class="row">
                                    <div class="icon">
                                        <i class="bi bi-phone"></i>
                                    </div>
                                    <button class="no-style catalog-item__name">
                                        Посуда
                                    </button>
                                </div>
                                <div>></div>
                            </div>
                            <div class="catalog-item row">
                                <div class="row">
                                    <div class="icon">
                                        <i class="bi bi-phone"></i>
                                    </div>
                                    <button class="no-style catalog-item__name">
                                        Бытовая химия
                                    </button>
                                </div>
                                <div>></div>
                            </div>
                            <div class="catalog-item row">
                                <div class="row">
                                    <div class="icon">
                                        <i class="bi bi-phone"></i>
                                    </div>
                                    <button class="no-style catalog-item__name">
                                        Дом и отдых
                                    </button>
                                </div>
                                <div>></div>
                            </div>
                            <div class="catalog-item row">
                                <div class="row">
                                    <div class="icon">
                                        <i class="bi bi-phone"></i>
                                    </div>
                                    <button class="no-style catalog-item__name">
                                        FOR KIDS
                                    </button>
                                </div>
                                <div>></div>
                            </div>
                            <div class="catalog-item row">
                                <div class="row">
                                    <div class="icon">
                                        <i class="bi bi-phone"></i>
                                    </div>
                                    <button class="no-style catalog-item__name">
                                        Инструменты
                                    </button>
                                </div>
                                <div>></div>
                            </div>
                            <div class="catalog-item row">
                                <div class="row">
                                    <div class="icon">
                                        <i class="bi bi-phone"></i>
                                    </div>
                                    <button class="no-style catalog-item__name">
                                        Сервисы подписки и софт
                                    </button>
                                </div>
                                <div>></div>
                            </div>
                        </div>
                        <div class="hidden-subcatalog">
                            
                        </div>
                    </div>
                    <div class="search">
                        <div class="input-group">
                            <div class="input-group__input-wrapper">
                                <input type="text" placeholder="Поиск товара" class="input-group__input">
                            </div>
                            <button class="no-style input-group__icon">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                        <div class="hidden-window">
                            <div class="row_strach">
                                <div class="col-50">
                                    <div class="block">
                                        <h2 class="fsz-9">Часто ищут:</h2>
                                        <p class="not-rare-search">
                                            w 8 123pxs
                                        </p>
                                        <p class="not-rare-search">
                                            IPhone XXL
                                        </p>
                                        <p class="not-rare-search">
                                            Teslaphone
                                        </p>
                                    </div>
                                    <div class="block">
                                        <h2 class="fsz-9">Категории:</h2>
                                        <p class="not-rare-search">
                                            Хоз товары
                                        </p>
                                        <p class="not-rare-search">
                                            Продукты питания
                                        </p>
                                        <p class="not-rare-search">
                                            Техника
                                        </p>
                                    </div>
                                </div>
                                <div class="col-50 border-left">
                                    <div class="mini-product-card">
                                        <div class="row border-bottom">
                                            <div class="img"></div>
                                            <div class="info">
                                                <p class="fs-7">Смартфон Apple iPhone 13 128Gb Pink</p>
                                                <div class="row">
                                                    <div class="old-price">29 490$</div>
                                                    <div class="new-price">27 499$</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mini-product-card">
                                        <div class="row border-bottom">
                                            <div class="img"></div>
                                            <div class="info">
                                                <p class="fs-7">Смартфон Apple iPhone 13 128Gb Pink</p>
                                                <div class="row">
                                                    <div class="old-price">29 490$</div>
                                                    <div class="new-price">27 499$</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mini-product-card">
                                        <div class="row border-bottom">
                                            <div class="img"></div>
                                            <div class="info">
                                                <p class="fs-7">Смартфон Apple iPhone 13 128Gb Pink</p>
                                                <div class="row">
                                                    <div class="old-price">29 490$</div>
                                                    <div class="new-price">27 499$</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="buyer-settings">
                        <div class="slots">
                            <div class="slot">
                                <button class="no-style person-icon">
                                    I
                                </button>
                            </div>
                            <div class="slot">
                                <button class="no-style favorite">
                                    <i class="bi bi-heart-fill"></i>
                                </button>
                            </div>
                            <div class="slot slot_dark-green">
                                <div class="row_center">
                                    <i class="bi bi-cart"></i>
                                    <div>
                                        <div class="fsz-10">
                                            Сумма
                                        </div>
                                        <div class="fsz-15">
                                            421$
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
</body>
</html>